body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.hero-section {
    width: 50%;
    padding-left: 5%;
}

.hero-section img {
    width: 80%;

}

.link-button {
    text-decoration: none;
    font-weight: 700;
    padding: 10px 20px;
    background-image: linear-gradient(to right, orange, red);
    border-radius: 5px;
    color: #fff;
    margin-top: 5px;
    border-radius: 5px;
    ;


}

/* .hero-sec-back {
    background-image: linear-gradient(to right, red, yellow)
} */

.experienct-item {
    box-shadow: 14px 10px 14px 6px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;

}

#full-stact-dev {
    border-left: 10px solid rgb(166, 14, 241);


}

#wordpress-dev {
    border-left: 10px solid rgb(163, 185, 37);

}